.product {
    background-color: white;
}

.product__info {
    align-self: flex-start;
}

.product__name {
    min-height: 50px;
}

.product__rating {
    display: flex;
}

.product__img {
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    object-fit: contain;
    justify-self: flex-end;
}

@media screen and (max-width: 699px) {

    .product__info,
    .btn {
        font-size: 10px;
    }
}